<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8"/>
    <title>Shield System</title>

    <%- include('../partials/css-imports') %>

    <style>

        body {
            @media print {
                @page {
                    size: A4;
                    margin: 0;
                    margin-header: 0; /* Set header margin to 0 to remove it */
                    margin-footer: 0; /* Set footer margin to 0 to remove it */
                }
            }
            width: 210mm;
        !important;
            height: 297mm;
        !important;
            margin: 0 auto;
        !important; /* Center the content */
        }
    </style>
</head>
<body style="background-color: black">
<!-- Loader -->
<!-- <div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div> -->
<!-- Loader -->

<div class="page-wrapper toggled">
    <!-- sidebar-wrapper -->

    <!-- sidebar-wrapper  -->

    <!-- Start Page Content -->
    <main>
        <!-- Top Header -->
        <!-- Top Header -->

        <div class="container-fluid">
            <div class="layout-specing">


                <div class="row mt-4">
                    <div style="background-color: white" class="col">
                        <div id="contentToPrint" class="border-0">
                            <div class="card-body">
                                <div class="invoice-top pb-4 border-bottom">
                                    <div class="row">
                                        <div class="col-xl-9 col-md-8">
                                            <div style="position: absolute;" class="logo-invoice mb-2"><img
                                                        src="/assets/images/logo.png"
                                                        height="84" alt=""></div>

                                        </div><!--end col-->
                                        <h6 class="text-center" style="color: red">
                                            OFFICIAL USE ONLY
                                        </h6>
                                        <h1 class="display-6 text-center" style="font-weight: bold;">
                                            DIGITAL EVIDENCE FORENSIC REPORT
                                            <hr class="my-4" style="border-bottom: 4px solid;">
                                        </h1>
                                    </div><!--end row-->
                                </div>

                                <div class="text-center invoice-middle py-4">
                                    <h5>CASE INFORMATION</h5>
                                    <div class="row mb-0">
                                        <div class=" col-md-12 ">
                                            <div class="row">
                                                <span class="col-1 text-start fw-normal">ID</span>
                                                <span class="col-1 text-start text-muted"># <%= caseItem.id %></span>

                                                <span class="col-2 text-end fw-normal">Offense Type:</span>
                                                <span class="col text-start text-muted"> <%= caseItem.offenseType %></span>

                                                <span class="col text-end fw-normal">Offense:</span>
                                                <span class="col text-start text-muted"><%= caseItem.offense %></span>
                                            </div>
                                            <div class="row">
                                                <span class=" col text-start col-md-2  fw-normal">Description:</span>
                                                <span class="col text-start text-muted"><%= caseItem.description %></span>
                                            </div>
                                        </div>

                                    </div>
                                    <hr class="my-4" style="border-bottom: 2px  solid black">

                                </div>
                                <div class="text-center invoice-middle py-4">
                                    <h5>OFFICERS INVOLVED</h5>
                                    <% if (caseItem.CaseOfficers && caseItem.CaseOfficers.length > 0) {
                                    caseItem.CaseOfficers.forEach(caseOfficer => {
                                    %>
                                        <% let fullName = 'N/A'; %>
                                        <% let phone = 'N/A'; %>
                                        <% let email = 'N/A'; %>

                                        <% if (caseOfficer.Officer && caseOfficer.Officer.User) { %>
                                            <% email = caseOfficer.Officer.User.email; %>
                                            <% phone = caseOfficer.Officer.User.phone; %>
                                            <% fullName = caseOfficer.Officer.User.firstName + " " + caseOfficer.Officer.User.middleName + " " + caseOfficer.Officer.User.lastName; %>
                                        <% } %>

                                        <div class="row mb-1 border-top">
                                            <div class=" col-md-12 ">
                                                <div class="row p-1">
                                                    <div class="text-start col-2">
                                                        <span class="fw-normal">ID:</span>
                                                        <span class="text-muted">#<%= caseOfficer.Officer.id %></span>
                                                    </div>

                                                    <div class="col-6">
                                                        <span style="font-weight: bold"
                                                              class="fw-normal">Full Name:</span>
                                                        <span class="text-muted"><%= fullName %></span>
                                                    </div>

                                                    <div class="col">
                                                        <span class="fw-normal">Job Title:</span>
                                                        <span class="text-muted"><%= caseOfficer.Officer.jobTitle %></span>
                                                    </div>


                                                </div>
                                                <div class="row p-1">
                                                    <div class="text-start col-3">
                                                        <span class="fw-normal">Phone:</span>
                                                        <span class="text-muted"><%= phone %></span>

                                                    </div>

                                                    <div class="text-start col">
                                                        <span class=" fw-normal">Department Name:</span>
                                                        <span class="text-muted"><%= caseOfficer.Officer.departmentName %> </span>
                                                    </div>

                                                    <div class="col">
                                                        <span class="fw-normal">Military Rank:</span>
                                                        <span class="text-muted"><%= caseOfficer.Officer.militaryRank %></span>
                                                    </div>


                                                </div>
                                                <div class="row p-1">


                                                    <div class="text-start col-8">
                                                        <span class=" fw-normal">Email:</span>
                                                        <span class="text-muted"><%= email %></span>

                                                    </div>

                                                    <div class="col-4">
                                                        <span class="fw-normal">Address:</span>
                                                        <span class="text-muted"><%= caseOfficer.Officer.address %></span>
                                                    </div>


                                                </div>

                                            </div>

                                        </div>

                                    <% });} %>

                                    <hr class="my-4" style="border-bottom: 2px  solid black">

                                </div>
                                <div class="text-center invoice-middle py-4">
                                    <h5>CASE RELATED INVOLVED</h5>
                                    <% if (caseItem.PartyInvolvements && caseItem.PartyInvolvements.length > 0) {
                                    caseItem.PartyInvolvements.forEach(partyInvolved => {
                                    %>
                                        <% let fullName = 'N/A'; %>
                                        <% let phone = 'N/A'; %>
                                        <% let email = 'N/A'; %>
                                        <%
                                            let selectedType = partyInvolved.type
                                            let nationalType = partyInvolved.Party.nationalIdType
                                            selectedType = selectedType == 1 ? 'Examiner' : selectedType == 2 ? 'Investigator' : selectedType == 3 ? 'Witness' : '';
                                            nationalType = nationalType == 1 ? 'National ID' : nationalType == 2 ? 'IQAMA' : nationalType == 3 ? 'Passport' : '';
                                        %>

                                        <% fullName = partyInvolved.Party.firstName + " " + partyInvolved.Party.middleName + " " + partyInvolved.Party.lastName; %>



                                        <div class="row mb-1 border-top">
                                            <div class=" col-md-12 ">
                                                <div class="row p-1">
                                                    <div class="text-start col-2">
                                                        <span class="fw-normal">ID:</span>
                                                        <span class="text-muted">#<%= partyInvolved.Party.id %></span>
                                                    </div>

                                                    <div class="col-6">
                                                        <span class="fw-normal">Full Name:</span>
                                                        <span class="text-muted"><%= fullName %></span>
                                                    </div>

                                                    <div class="col">
                                                        <span class="fw-normal">Address:</span>
                                                        <span class="text-muted"><%= partyInvolved.Party.address %></span>
                                                    </div>


                                                </div>
                                                <div class="row p-1">
                                                    <div class="text-start col-3">
                                                        <span class="fw-normal">National ID</span>
                                                        <span class="text-muted"><%= partyInvolved.Party.nationalId %></span>
                                                    </div>

                                                    <div class="text-start col">
                                                        <span class=" fw-normal">National ID Type</span>
                                                        <span class="text-muted"><%= nationalType %></span>
                                                    </div>

                                                    <div class="col">
                                                        <span class="fw-normal">Involvement Type</span>
                                                        <span class="text-muted"><%= selectedType %></span>
                                                    </div>


                                                </div>
                                            </div>

                                        </div>
                                    <% });} %>
                                    <hr class="my-4" style="border-bottom: 2px  solid black">

                                </div>


                                <div class=" invoice-table pb-4">
                                    <h5 class="text-center">EVIDENCE SUBMITTED:</h5>

                                    <div class="table-responsive bg-white shadow rounded">
                                        <table class="table mb-0 table-center invoice-tb">
                                            <thead class="bg-soft-primary">
                                            <tr>
                                                <th scope="col" class="border-bottom text-center">#</th>
                                                <th scope="col" class="border-bottom text-center">ID</th>
                                                <th scope="col" class="border-bottom text-center">Seizure Date</th>
                                                <th scope="col" class="border-bottom text-center">Seizure Location</th>
                                                <th scope="col" class="border-bottom text-center">Description</th>
                                                <th scope="col" class="col-3 border-bottom text-center">Hash</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <% let counter = 0;
                                            if (caseItem.Evidence && caseItem.Evidence.length > 0) {
                                            caseItem.Evidence.forEach(evidence => {
                                                counter++;
                                            %>
                                            <tr>
                                                <th scope="row" class="text-start"><%= counter %></th>
                                                <td class="text-center"><%= evidence.externalId %></td>
                                                <td class="formatDate  text-center"><%= evidence.seizureDate %></td>
                                                <td class="text-center"><%= evidence.seizureAddress %></td>
                                                <td class="text-center"><%= evidence.description %></td>
                                                <td style="word-wrap: break-word;"
                                                    class=" split text-center"><%= evidence.hash %></td>

                                            </tr>
                                            <% });} %>

                                            </tbody>
                                        </table>
                                    </div>
                                    <hr class="my-4" style="border-bottom: 2px  solid black">

                                </div>
                                <div class="invoice-table pb-4">
                                    <h5 class="text-center">EVIDENCE DISPOSITION:</h5>

                                    <div class="table-responsive bg-white shadow rounded">
                                        <table id="myTable" class="table mb-0 table-center invoice-tb">
                                            <thead class="bg-soft-primary">
                                            <tr>
                                                <th scope="col" class="border-bottom text-center">#</th>
                                                <th scope="col" class="border-bottom text-center">ID</th>
                                                <th scope="col" class="border-bottom text-center">Date</th>
                                                <th scope="col" class="border-bottom text-center">Released by</th>
                                                <th scope="col" class="border-bottom text-center">Received by</th>
                                                <th scope="col" class=" d-none border-bottom text-center">Comments</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <% let counter2 = 0;
                                            if (caseItem.Evidence && caseItem.Evidence.length > 0) {
                                            caseItem.Evidence.forEach(evidence => {
                                                counter2++;
                                            %>
                                            <tr>
                                                <th scope="row" class="text-start"><%= counter2 %></th>
                                                <td class="text-center"><%= evidence.externalId %></td>
                                                <td class="formatDate text-center"><%= evidence.seizureDate %></td>
                                                <td class="text-center"><%= evidence.Officer.User.firstName + " " + evidence.Officer.User.middleName + " " + evidence.Officer.User.lastName %></td>
                                                <% if (counter2 === 1) {
                                                %>
                                                    <td class="text-center receivedBy"
                                                        rowspan="<%= caseItem.Evidence.length %>"></td>
                                                <% } %>

                                                <td class=" d-none  text-center">view</td>
                                            </tr>
                                            <% });} %>

                                            </tbody>
                                        </table>
                                    </div>
                                    <hr class="my-4" style="border-bottom: 2px  solid black">

                                </div>

                                <div class="invoice-table pb-4">
                                    <h5 class="text-center">FORENSIC EXAMINER’S CONCLUSION:</h5>
                                    <p class="text-center" id="conclusionText">None </p>
                                </div>
                                <div class="invoice-footer border-top pt-4">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="text-sm-start text-muted text-center">
                                                <h6 class="mb-0">Shield System </h6>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 text-end">
                            <a href="javascript:window.print()" id="printButton"
                               class="btn btn-icon btn-soft-primary d-print-none"><i
                                        class="ti ti-printer"></i></a>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div>
        </div><!--end container-->

        <!-- Footer Start -->

        <!-- End -->
    </main>
    <!--End page-content" -->
</div>
<!-- page-wrapper -->

<%
const caseId = caseItem.id;
%>
<!-- javascript -->
<%- include('../partials/js-imports') %>

<!-- JAVASCRIPT -->


<script>
    const userId = localStorage.getItem("userId");
    let officerId;
    let officerName = "";
    const caseId = '<%= caseId %>';


    fetch(`/api/officers/user/${userId}`, {
        method: 'GET',
    })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {

            officerId = data.data.id;
            officerName = data.data.User.firstName + " " + data.data.User.middleName + " " + data.data.User.lastName;
            console.log("Officer data:", data);
        })
        .catch(error => {
            // Handle errors here
            console.error("Error fetching case:", error);
        });

    fetch(`/api/reports/conclusions/${caseId}`, {
        method: 'GET',
    })
        .then(response => response.json())
        .then(data => {
            console.log("Conc data:", data);
            if (data.data === null) {
                console.log("Data is null");
                document.getElementById('newModal').classList.remove('d-none');
            } else {
                const createdBy = data.data.officerId;
                if (createdBy == officerId) {
                    console.log("The Same Officer");
                    document.getElementById('newModal').classList.remove('d-none');
                    document.getElementById('newModal').innerHTML = 'Edit Conclusion';
                }

                document.getElementById('conclusionText').innerHTML = data.data.content;
                var elements = document.getElementsByClassName('receivedBy');

                for (var i = 0; i < elements.length; i++) {
                    elements[i].innerHTML = officerName;
                }

                var printButton = document.getElementById('printButton');

                // Trigger a click on the anchor element
                   printButton.click();

            }
        })
        .catch(error => {
            // Handle errors here
            console.error("Error fetching case:", error);
        });

    function addConclusion() {
        document.getElementById('loading-overlay').style.display = 'flex';
        const content = document.getElementById('description').value;

        const formData = new FormData(document.getElementById('reservationForm'));

        // Additional data can be appended to the FormData if needed
        formData.append('officerId', officerId);


        fetch(`/api/reports/${caseId}/${officerId}/${content}`, {
            method: 'POST',
            body: formData,
        }).then(response => response.json())
            .then(data => {
                // Handle the response data as needed
                console.log(data);
                document.getElementById('loading-overlay').style.display = 'none';
                if (data.status === 201) {
                    localStorage.setItem('hasNotification', "true");
                    localStorage.setItem('notification', "Conclusion Added Successfully");
                    localStorage.setItem('notificationType', "success");
                    window.location.href = '/cases/all'; // Adjust the URL accordingly
                } else if (data.status > 399) {
                    toastr.error(data.message);
                }
            }).catch(error => {
            // Handle errors
            console.error('Error:', error);
            document.getElementById('loading-overlay').style.display = 'none';
        });
    }

    splitHash();

    function splitHash() {
        var elements = document.getElementsByClassName('split');

        // Loop through the elements and make necessary changes
        for (var i = 0; i < elements.length; i++) {
            var currentElement = elements[i];
            // Example modification: Add a line break after a specific number of characters
            var hashValue = currentElement.textContent;
            var maxLength = 32; // Change this to the desired length
            var modifiedHash = hashValue.substring(0, maxLength) + '<br>' + hashValue.substring(maxLength);

            // Update the content of the element
            currentElement.innerHTML = modifiedHash;
            console.log("Hash", modifiedHash);
        }
    }

</script>

</body>

</html>