<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8"/>
    <title>Shield System</title>

    <%- include('../partials/css-imports') %>

</head>
<body>
<!-- Loader -->
<!-- <div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div> -->
<!-- Loader -->

<div class="page-wrapper toggled">
    <!-- sidebar-wrapper -->
    <%- include('../partials/sidebar') %>

    <!-- sidebar-wrapper  -->

    <!-- Start Page Content -->
    <main class="page-content bg-light">
        <!-- Top Header -->
        <%- include('../partials/header') %>
        <!-- Top Header -->

        <div class="container-fluid">
            <div class="layout-specing">
                <div class="d-md-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Profile Setting</h5>

                    <nav aria-label="breadcrumb" class="d-inline-block mt-2 mt-sm-0">
                        <ul class="breadcrumb bg-transparent rounded mb-0 p-0">
                            <li class="breadcrumb-item text-capitalize"><a href="index.html">Shield</a></li>
                            <li class="breadcrumb-item text-capitalize"><a href="#">Users</a></li>
                            <li class="breadcrumb-item text-capitalize active" aria-current="page">Add</li>
                        </ul>
                    </nav>
                </div>

                <div class="row">
                    <div class="col-lg-12 mt-4">
                        <div class="card border-0 rounded shadow">
                            <div class="card-body">
                                <h5 class="text-md-start text-center mb-0">Personal Detail :</h5>

                                <form id="partyForm">
                                    <div class="row mt-4">
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label class="form-label">First Name</label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="user" class="fea icon-sm icons"></i>
                                                    <input name="firstName" id="first" type="text"
                                                           class="form-control ps-5"
                                                           value="<%= party.firstName %>">
                                                </div>
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label class="form-label">Middle Name</label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="user" class="fea icon-sm icons"></i>
                                                    <input name="middleName" id="first" type="text"
                                                           class="form-control ps-5"
                                                           value="<%= party.middleName %>">
                                                </div>
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label class="form-label">Last Name</label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="user-check" class="fea icon-sm icons"></i>
                                                    <input name="lastName" id="last" type="text"
                                                           class="form-control ps-5"
                                                           value="<%= party.lastName %>">
                                                </div>
                                            </div>
                                        </div><!--end col-->
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label class="form-label">Address</label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="user-check" class="fea icon-sm icons"></i>
                                                    <input name="address" id="last" type="text"
                                                           class="form-control ps-5"
                                                           value="<%= party.address %>">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">ID Number :</label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="phone" class="fea icon-sm icons"></i>
                                                    <input name="nationalId" id="number" type="number"
                                                           class="form-control ps-5"
                                                           value="<%= party.nationalId %>">
                                                </div>
                                            </div>
                                        </div><!--end col-->

                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">ID Type <span
                                                            class="text-danger">*</span></label>
                                                <%
                                                const oldType = party.nationalIdType;
                                                %>
                                                <div class="form-icon position-relative">

                                                    <select class=" form-control country-select"
                                                            name="nationalIdType">
                                                        <option value="1"
                                                                <% if (oldType === 1) { %>selected
                                                                <% } %>
                                                        >National ID
                                                        </option>
                                                        <option value="2"
                                                                <% if (oldType === 2) { %>selected
                                                                <% } %>
                                                        >IQAMA
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                    </div><!--end row-->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- Use the "position-relative" class for proper styling -->
                                            <button type="submit" id="submit" name="send"
                                                    class="btn btn-primary position-relative">
                                                Save
                                                <!-- Bootstrap Spinner component -->
                                                <span class="spinner-border spinner-border-sm position-absolute top-50 start-50 translate-middle"
                                                      role="status" aria-hidden="true" style="display: none;"></span>
                                            </button>
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </form><!--end form-->
                            </div>
                        </div>
                        <div id="loading-overlay">
                            <span class="spinner-border spinner-border-lg loading-spinner" role="status"
                                  aria-hidden="true"></span>
                        </div>
                    </div><!--end col-->


                </div><!--end row-->
            </div>
        </div><!--end container-->

        <!-- Footer Start -->
        <%- include('../partials/footer') %>

        <!-- End -->
    </main>
    <!--End page-content" -->
</div>
<!-- page-wrapper -->

<%
const partyId = party.id;
%>
<!-- javascript -->
<%- include('../partials/js-imports') %>

<!-- JAVASCRIPT -->

<script>
    function confirm(event) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'This party will be updated',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes'
        }).then((result) => {
            if (result.isConfirmed) {
                submitForm(event);
            }
        });
    }

    function submitForm(event) {

        document.getElementById('loading-overlay').style.display = 'flex';

        const formData = new FormData(event.target);

        const partyId = '<%= partyId %>';

        fetch(`/api/parties/${partyId}`, {
            method: 'PUT',
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                // Handle the response data as needed
                console.log(data);
                document.getElementById('loading-overlay').style.display = 'none';
                if (data.status === 200) {
                    localStorage.setItem('hasNotification', "true");
                    localStorage.setItem('notification', "Party Edited Successfully");
                    localStorage.setItem('notificationType', "success");
                    window.location.href = '/parties/all';
                } else if (data.status > 399) {
                    toastr.error(data.message);
                }
            })
            .catch(error => {
                // Handle errors
                console.error('Error:', error);
                document.getElementById('loading-overlay').style.display = 'none';
            });

    }
        document.getElementById('partyForm').addEventListener('submit', function (event) {
        event.preventDefault();
        confirm(event);
    });
</script>

</body>

</html>